:root{
    --text-color: #f0f4f5;
    --background-color : #263343;
    --accent-color : #d49466;
}

body{
    margin : 0;
    font-family: 'Source Sans Pro';
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding : 8px 12px;
}


.navbar_logo{
    font-size: 24px;
    color: var(--text-color);
    flex-basis: 10%;
    white-space : nowrap;
}

.navbar_logo i{
    color: green;
}

.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-basis: 75%;
    justify-content: space-around;
    font-size: 24px;
}

.navbar_menu li:hover{
    background-color: #d49466;
    width: 25%;
    text-align: center;
    border-radius: 4px;
}

.navbar_menu li{
    padding: 8px 12px;  
}

.navbar_covid{
    display: flex;
    font-size : 20px;
    color: var(--text-color);
    flex-basis: 10%;
    white-space : nowrap;
}
.navbar_covid i{
    color: rgb(255, 59, 59);
    padding-right: 4px;
}


.navbar_icons{
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
    flex-basis: 5%;
}

.navbar_icons li{
    padding: 8px 12px;
}

.navbar_toggleBtn{
    display : none;
    position: absolute;
    right: 12px;
    font-size: 24px;
}

/* 축소 위젯 설정 */
@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li:hover{
        width: 100%;
        text-align: center;
    }

    .navbar_covid{
        display: none;
        position: absolute;
        right: 8px;
        top: 300px;
    }

    .navbar_icons{ 
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display : block;
    }

    .navbar_menu.active,
    .navbar_icons.active,
    .navbar_covid.active{
        display: flex;
    }
}

.main1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 99vw;
    height: 20vh;
    padding-left: 1vw;
    background-color: rgb(51, 39, 39);
    color: var(--text-color);
}

.main1 header{
    font-size: 5vmin;
}

.main1 li{
    font-size: 2.5vmin;
}

.main2{
    display: flex;
    flex-direction: row;
}

.main2 img{
    width: 50vw;
    height: 60vh;
}

.main2 .right_main{
    display: flex;
    flex-direction: column;
}

#login{
    width: 5vw;
    height: 10vh;
    background-color: white
    color: black;
}

.right1{
    border: solid;
    border-color: red;
    background-color: rgba(78, 78, 228, 0.808);
    width: 50vw;
    height: 30vh;
}

.right2{
    border: solid;
    border-color: green;
    background-color: rgba(230, 53, 230, 0.897);
    width: 50vw;
    height: 30vh;
}

.foot{
    border: solid;
    border-color: yellow;
}
